<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
<link rel="stylesheet" href="../../css/add.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Rule</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/ruleName/validate}" th:object="${ruleName}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			TODO: Create a form to input the values of RuleName, there are 2 buttons: Save data and Cancel to the list RuleName
			 -->
			 <div th:if="${error}">
				<p style="color: red;" th:text="${error}" align="center"></p>
			</div>
			<div class="form-group">
			 <label for="account">Name</label>
			 <div class="input-group">
			 <input type="text" th:field="*{name}" class="form-control"
					placeholder="Name" aria-label="text"
					aria-describedby="addon-wrapping">
			 </div>
			 <p th:if="${#fields.hasErrors('name')}" th:class="${#fields.hasErrors('name')}? error">
			 Name is mandatory </p>
			 </div>
			 
			 <div class="form-group">
			 <label for="account">Description</label>
			 <div class="input-group">
			 <input type="text" th:field="*{description}" class="form-control"
					placeholder="Description" aria-label="text"
					aria-describedby="addon-wrapping">
			 </div>
			 <p th:if="${#fields.hasErrors('description')}" th:class="${#fields.hasErrors('description')}? error">
			 Description is mandatory </p>
			 </div>
			 
			 <div class="row">
			 <a href="/ruleName/list">
			 <button type="button" class="btn btn-danger cancel-button">Cancel</button>
			 </a>
			 <button type="submit" class="btn btn-primary add-button">Add Rule</button>
			 </div>

		</form>
	</div>

</div>
</body>
</html>